@charset “utf-8”;

/* All Device */
/* 모든 해상도를 위한 공통 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨. */
header{
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
	width: 100%;
}

nav{
	line-height: 30px;
	background-color: #eeeeee;
	height: 300px;
	width: 150px;
	float: left;
	padding: 10px;
}

section#section1{
	float: left;
	padding: 10px;
}

section#centeringTutorials{
	clear: both;
}

footer{
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
	width: 100%;
}

a#googleLink:link
{
	color: green;
	background-color: transparent;
	text-decoration: none;
}
a#googleLink:visited
{
	color: purple;
	background-color: transparent;
	text-decoration: none;
}
a#googleLink:hover{
	color: red;
	background-color:transparent;
	text-decoration: none;
}
a#googleLink:active{
	color: blue;
	background-color: transparent;
	text-decoration: none;
}

button#naverButton
{
	background-color: green;
	border: none;
	padding: 10px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	color: white;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4; /* Safari */
	cursor: pointer;
	border-radius: 4px;
}
button#naverButton:hover{
	background-color: white;
	border: none;
	color: green;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

img#googleLogo{
	width: 342px;
	height: 191px;
	float: left;
}

img#naverLogo{
	width: 191px;
	height: 191px;
	float: left;
}

div#gallery{
	width: 100%;
}

div.textCentered{
	text-align: center;
}

div.blockCentered{
}

img#imageForCenteringBlock{
	display: block;
	margin: 0 auto;
	width: 342px;
	height: 191px;
}

/* Mobile Device */
/* 768px 미만 해상도의 모바일 기기를 위한 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨. 미디어 쿼리를 지원하지 않는 모바일 기기를 위해 미디어 쿼리 구문을 사용하지 않는다. */

@media all and (max-width: 450px) {

	nav{
		width: 100%;
		height: 80px;
		padding: 10px;
	}

	section#section1{
		padding: 10px;
		margin: 0 auto;

	}

	img{
		margin: 0 auto;
	}

}


/* Tablet & Desktop Device */
@media all and (min-width:768px) {
/* 사용자 해상도가 768px 이상일 때 이 코드가 실행됨. 테블릿과 데스크톱의 공통 코드를 작성한다. */
}

/* Tablet Device */
@media all and (min-width:768px) and (max-width:1024px) {
/* 사용자 해상도가 768px 이상이고 1024px 이하일 때 이 코드가 실행됨. 아이패드 또는 비교적 작은 해상도의 랩탑이나 데스크톱에 대응하는 코드를 작성한다. */
}

/* Desktop Device */
@media all and (min-width:1025px) {
/* 사용자 해상도가 1025px 이상일 때 이 코드가 실행됨. 1025px 이상의 랩탑 또는 데스크톱에 대응하는 코드를 작성한다. */
}